<p id="notice"><%= notice %></p>

<p>
  <b>Numero agencia:</b>
  <%= @agencium.numero_agencia %>
</p>

<p>
  <b>Endereco:</b>
  <%= @agencium.endereco %>
</p>

<p>
  <b>Banco:</b>
  <%= @agencium.banco.nome %>
</p>


<%= link_to 'Edit', edit_agencium_path(@agencium) %> |
<%= link_to 'Back', agencia_path %>
