<h1>Listing bancos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Observacoes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bancos.each do |banco| %>
  <tr>
    <td><%= banco.nome %></td>
    <td><%= banco.observacoes %></td>
    <td><%= link_to 'Show', banco %></td>
    <td><%= link_to 'Edit', edit_banco_path(banco) %></td>
    <td><%= link_to 'Excluir', banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Banco', new_banco_path %>
