= semantic_form_for [@tabelageral] do |form|
  = form.input :valor_entrada, :label => 'Valor_entrada'
  = form.input :valor_saida, :label => 'Valor_saida'
  = form.input :ano, :label => 'Ano'
  = form.submit 'Salvar'
