= semantic_form_for [@telefone] do |form|
 
  = form.input :tipo, :label => 'Tipo'
  = form.input :numero, :label => 'Numero'
  = form.input :codigo_area, :label => 'Codigo_area'
  = form.input :ramal, :label => 'Ramal'
  = form.input :beneficiario, :member_label => :nome, :label => 'Beneficiario'
  = form.submit 'Salvar' 
