<h1>Listing telefones</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Numero</th>
    <th>Codigo area</th>
    <th>Ramal</th>
    <th>Beneficiario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @telefones.each do |telefone| %>
  <tr>
    <td><%= telefone.tipo %></td>
    <td><%= telefone.numero %></td>
    <td><%= telefone.codigo_area %></td>
    <td><%= telefone.ramal %></td>
    <td><%= telefone.beneficiario %></td>
    <td><%= link_to 'Show', telefone %></td>
    <td><%= link_to 'Edit', edit_telefone_path(telefone) %></td>
    <td><%= link_to 'Excluir', telefone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Telefone', new_telefone_path %>
