<h1>Listing enderecobrasileiros</h1>

<table>
  <tr>
    <th>Nome logradouro</th>
    <th>Numero</th>
    <th>Complemento</th>
    <th>Caixa postal</th>
    <th>Bairro</th>
    <th>Cep</th>
    <th>Municipio</th>
    <th>Estrangeiro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enderecobrasileiros.each do |enderecobrasileiro| %>
  <tr>
    <td><%= enderecobrasileiro.nome_logradouro %></td>
    <td><%= enderecobrasileiro.numero %></td>
    <td><%= enderecobrasileiro.complemento %></td>
    <td><%= enderecobrasileiro.caixa_postal %></td>
    <td><%= enderecobrasileiro.bairro %></td>
    <td><%= enderecobrasileiro.cep %></td>
    <td><%= enderecobrasileiro.municipio %></td>
    <td><%= enderecobrasileiro.endereco %></td>
    <td><%= link_to 'Show', enderecobrasileiro %></td>
    <td><%= link_to 'Edit', edit_enderecobrasileiro_path(enderecobrasileiro) %></td>
    <td><%= link_to 'Excluir', enderecobrasileiro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enderecobrasileiro', new_enderecobrasileiro_path %>
